* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik, sans-serif;
}

nav {
    display: flex;
    background-color: rgb(122, 7, 74);
    height: 50px;
}

nav h1 {
    color: white;
    margin-top: 11px;
    margin-left: 15px;
    margin-right: 10px;
}


a {
    text-decoration: none;
    margin-top: 13px;
    margin-left: 15px;
    color: white;
    font-size: 20px ;
    transition: 0.2s;
}

a:hover {
    color: black;
    scale:1.1;  
}

body h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}

footer {
    color: #FFF;
    background-color: rgb(122, 7, 74);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}
#img_fundo{
    height: 30rem;
    width: 100%;
    
}